/*common abstracts */
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/animations';

/*common base */
@import 'base/reset';
@import 'base/base';

/* components */

/* pages */

/* remove this when starting a new project */
body {
  background-color: purple;

  @include respond-to('large') {
    background-color: $clr-5;
  }

  @include respond-to('medium') {
    background-color: $clr-2;
  }

  @include respond-to('small') {
    background-color: $clr-4;
  }
}
.hello-section {
  width: 30rem;
  height: 20rem;

  background-color: $clr-6;

  @include respond-to('large') {
    background-color: $clr-2;
  }

  @include respond-to('medium') {
    background-color: $clr-4;
  }

  @include respond-to('small') {
    background-color: $clr-1;
  }
}
