/*common abstracts */ /* Font */
/* Colors */
/* sidebar width */
/* container width */
/* timing function */
/* breakpoints -> SASS Map */
/* transition mixin */
/* text mixin */
/* media-query mixin */
@keyframes fadeInRight {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInUp {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
/*common base */
/* base.css */
pre {
  font-family: monospace;
  font-size: 0.8em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
b *,
strong,
strong * {
  font-weight: 700;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  background: transparent;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  outline: none;
  border: none;
  outline: none;
  color: inherit;
  -webkit-appearance: none;
}

input::placeholder {
  color: inherit;
}

progress {
  vertical-align: baseline;
}

textarea {
  resize: none;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -0.2rem;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*scroll bar css*/
::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
  background: #eeeeee;
  width: 1rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 0.1rem;
  border-left: 1px solid #eeeeee;
}

/*text selection css*/
::-moz-selection {
  background: #576d81;
  color: #fff;
}

::selection {
  background: #576d81;
  color: #fff;
}

/* ********************************** */
* {
  box-sizing: inherit;
  word-break: break-word;
}

html {
  -webkit-text-size-adjust: 100%;
  scrollbar-color: #384653 #bfbfbf;
  scrollbar-width: thin;
  font-size: 62.5%;
}

body {
  position: relative;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  color: #fff;
}

.container {
  max-width: 114rem;
  padding: 0 1.3rem;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.d-flex-center {
  display: flex;
  align-items: center;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.root-wrapper {
  min-height: 100vh;
  flex-direction: column;
}

.article-right-arrow {
  transition: fill 0.3s ease-out;
}

.content-wrapper {
  background-color: #fff;
  flex: 1;
}

.fallback-text {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #222;
  display: block;
}
.fallback-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  display: block;
}

.itt-article__figure {
  min-height: 10rem;
}

/* components */
/* pages */
/* remove this when starting a new project */
body {
  background-color: purple;
}
@media only screen and (max-width: 1199px) {
  body {
    background-color: #a5b4fc;
  }
}
@media only screen and (max-width: 991px) {
  body {
    background-color: #fbbf24;
  }
}
@media only screen and (max-width: 575px) {
  body {
    background-color: #6ee7b7;
  }
}

.hello-section {
  width: 30rem;
  height: 20rem;
  background-color: #d8b4fe;
}
@media only screen and (max-width: 1199px) {
  .hello-section {
    background-color: #fbbf24;
  }
}
@media only screen and (max-width: 991px) {
  .hello-section {
    background-color: #6ee7b7;
  }
}
@media only screen and (max-width: 575px) {
  .hello-section {
    background-color: #f87171;
  }
}

/*# sourceMappingURL=scss-output.css.map */
